* {
    font-family: Arial, sans-serif;
    background-color: #b8c1ec;
    }

.subtitulo {
font-family: "Times New Roman",Times, serif;
color: #fffffe;

}

h1 {
    
    font-family:"Montserrat", Georgia, serif;
    background-color: #232946;
    color:#fffffe;
    }

    

nav{
    background-color: #232946;
    color: #fffffe;
}

ul.navi{
    background-color: #232946;
    color: #fffffe;
}
li.navi{
    background-color: #232946;
    color: #fffffe;   
}
a{
    background-color: #232946;
    color: #fffffe;  
}
#experiencia{
    color: #172c66;
}
header{
    background-color: #232946;
}
p#pie{
    background-color: #232946;
    color: #fffffe;  
}
p{
    background-color: #b8c1ec;
}
span{
    background-color: #b8c1ec;
}
h2{
    background-color: #b8c1ec;
}
.imagenCircular {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.imagenCircular img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
Grid areas
*/
section#partearriba{
    grid-area: A; 
    background-color: #232946;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px; 
    margin-left: -10px; 
    margin-right: -10px; 

  }
  
section#navegacion{
    grid-area: B; 
    background-color: #232946;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px; 
    margin-left: -10px; 
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

    
}

section#informacion-personal{
    grid-area: C; 
    background-color: #b8c1ec;
    align-items: center;
    margin-left: 31%;

    
}

section#educacion{
    grid-area: D; 
    background-color: #b8c1ec;
}

section#experiencia{
    grid-area: E; 
    background-color: #b8c1ec;
}

section#habilidades{
    grid-area: F; 
    background-color: #b8c1ec;

}

section#formulario{
    grid-area: J; 
    background-color: #b8c1ec;
}

footer {
    grid-area: K;
    background-color: #232946;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10px; 
}

main{
    display: grid; 
    row-gap: 0.5rem; 
    column-gap: 0.5rem; 
          /* Nombres de las áreas*/
          grid-template-areas: 
          "A A A A"
          "C C C C"
          "D D E E"
          "D D F F"
          "J J J J"
          "K K K K";
    padding-left:11vw;
  
  }
  
/*  #secciones{
    margin-left:100px;
    margin-right:20px;
}
*/

section {
    margin: 20px;
    }
   
 section {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
}
section {
    border: 1px solid black;
    }
    
    section {
    border-top: 2px solid red;
    border-right: 3px solid blue;
    border-bottom: 4px solid green;
    border-left: 5px solid yellow;
    }

    section {
        padding: 20px;
        }
        
        section {
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-left: 40px;
        }
        